---
import "@fontsource-variable/montserrat";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { name, favIcon, title } = Astro.props;

const actualTitle = title ? title : `${name} - Conoce.Me`;
---

<!-- Global Metadata -->
<head>
  <slot />

  <title>{actualTitle}</title>
  <link rel="icon" type="image/svg+xml" href={favIcon || "/favicon.svg"} />

  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="generator" content={Astro.generator} />

  <!-- Canonical URL -->
  <link rel="canonical" href={canonicalURL} />

  <!-- Primary Meta Tags -->
  <meta name="title" content={actualTitle} />
  <meta name="description" content="" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={actualTitle} />
  <meta property="og:description" content="" />
  <!-- <meta property="og:image" content={new URL(image, Astro.url)} /> -->

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={actualTitle} />
  <meta property="twitter:description" content="" />
  <!-- <meta property="twitter:image" content={new URL(image, Astro.url)} /> -->

  <!-- Styles -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.47.0/tabler-icons.min.css"
  />
  <style>
    body {
      font-family: "Montserrat Variable", sans-serif;
    }
  </style>
</head>
